

<!--Container Main start-->

  <div id="main" class="height-100 bg-light">
    <div class="div1">
      <app-create-availability></app-create-availability>
    </div>

    <div class="div2">
      <div>
        <form (submit)="onSubmit()">


          <label for="date">Sélectionner une date :</label>
          <input type="date" [(ngModel)]="selectedDate" name="date" id="date" required>

          <button type="submit">Afficher les disponibilités</button>
        </form>
      </div>

      <div *ngIf="timeAvailable[doctorId] ">
        <h3>Heures disponibles pour le {{ selectedDate }} :</h3>
        <ul>
          <li *ngFor="let time of timeAvailable[doctorId][selectedDate]">{{ time.startTime }}
         <button (click)="deleteAvailability(time.id)"> delete</button>

          </li>
        </ul>
      </div>

    </div>
    </div>




