<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up or Log In</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 text-center box mt-5 p-4 rounded">
      <h2 class="mb-4">Sign Up or Log In</h2>
      <div class="mb-3">
        <p class="fw-bold">New to Docnet?</p>
        <a (click)="navigateToSignUp()" class="btn btn-primary btn-lg btn-block">SIGN UP</a>
      </div>
      <div>
        <p class="fw-bold">I already have a Docnet account</p>
        <a (click)="navigateToLogin()" class="btn btn-warning btn-lg btn-block">LOG IN</a>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
