<div>
  <h2>Sélectionnez une date</h2>
  <input type="date" [(ngModel)]="selectedDate" [min]="minDate" (change)="loadAvailableTimes()" />

  <div *ngIf="isWeekend(selectedDate)">
    <p>Le dimanche ne sont pas disponibles. Veuillez choisir un autre jour.</p>
  </div>

  <div *ngIf="!isWeekend(selectedDate) && availableTimes.length > 0">
    <h3>Créneaux disponibles</h3>
    <div *ngFor="let time of availableTimes">
      <button class="css-button" (click)="reserveTime(time)">
        {{ time }}
      </button>
    </div>
  </div>

  <div *ngIf="!isWeekend(selectedDate) && availableTimes.length === 0 && selectedDate">
    <p>Aucun créneau disponible pour cette date.</p>
  </div>
</div>
