<!--<div class="access-container">

  <div class="info-container">
    <h3 class="h3">
      <div style="margin-top: 1px">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.875 6.5A1.866 1.866 0 0 1 8 8.375 1.851 1.851 0 0 1 6.125 6.5c0-1.031.82-1.875 1.875-1.875A1.88 1.88 0 0 1 9.875 6.5ZM8 5.75a.755.755 0 0 0-.75.75c0 .422.328.75.75.75.398 0 .75-.328.75-.75A.771.771 0 0 0 8 5.75Zm4.5.75c0 2.063-2.742 5.695-3.96 7.219a.707.707 0 0 1-1.102 0C6.218 12.195 3.5 8.563 3.5 6.5 3.5 4.016 5.492 2 8 2c2.484 0 4.5 2.016 4.5 4.5ZM8 3.125A3.376 3.376 0 0 0 4.625 6.5c0 .305.094.75.352 1.36.234.562.585 1.218.984 1.874A35.858 35.858 0 0 0 8 12.594c.563-.75 1.336-1.781 2.016-2.86.398-.656.75-1.312.984-1.875.258-.609.375-1.054.375-1.359A3.391 3.391 0 0 0 8 3.125Z">
          </path>
        </svg>
      </div> Map and Access Information
    </h3>
    <p>10 Rue du Château d'Eau, 1240 Caen</p>
    <div class="practical-info">
      <h4>Practical Information</h4>
      <ul>
        <li>3rd floor with elevator</li>
        <li>Accessible entrance</li>
        <li>Free parking</li>
      </ul>
    </div>
  </div>


  <div class="map-container">
    &lt;!&ndash; Google Maps Integration &ndash;&gt;
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.998558431119!2d-0.37067908412106665!3d49.18286367932409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480a42dc7b47636d%3A0x40c14484fb44180!2s10%20Rue%20du%20Ch%C3%A2teau%20d&#39;Eau%2C%2014000%20Caen%2C%20France!5e0!3m2!1sen!2sfr!4v1695653279872!5m2!1sen!2sfr"
      width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

</div>-->





<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
  integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45zSRtKlVEQzoywRWBUApte9Wh2Avm" crossorigin="anonymous"></script>
<section>
  <!-- Barre de navigation avec Bootstrap -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Doctolib</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Centre d'aide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mes messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mes rendez-vous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mes documents</a>
        </li>
      </ul>
      <div class="user-profile d-flex align-items-center">
        <span>alaa edd</span>
        <div class="notification-bubble ml-2">1</div>
      </div>
    </div>
  </nav>

  <!-- Doctor Profile Section -->
  <div class="profile-container">
    <img src="https://via.placeholder.com/150" alt="Doctor Profile Picture" class="profile-pic">
    <div class="profile-details">
      <h1>Dr Audrey PIOLLET</h1>
      <p>Médecin généraliste</p>
    </div>
  </div>


  <!-- Navigation Links -->
  <div #stickyDiv class="navv">
    <mat-tab-group id="container">
      <mat-tab>
        <ng-template mat-tab-label>
          <button class="btnmap" mat-button (click)="scrollToSection('map')">Map</button>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <button class="btnmap" mat-button (click)="scrollToSection('biographie')">Biographie</button>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <button class="btnmap" mat-button (click)="scrollToSection('legal')">Legal information</button>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <button class="btnmap" mat-button (click)="scrollToSection('rates')">Rates</button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

</section>


<section id="section" class="detail-Section">


  <section class="div-appointment">

    <!--   card of appointment    -->


    <div #Appointement class="card">
      <h2>En résumé</h2>
      <div class="info">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <path
            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
        </svg>
        Accepte les nouveaux patients
      </div>
      <div class="info">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <path
            d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
        </svg>
        416 Boulevard National, 13003 Marseille
      </div>
      <button class="buttonAppointment" [routerLink]="['/appointment', idProf]" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
          style="fill: white; vertical-align: middle; margin-right: 5px;">
          <path
            d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z" />
        </svg>
        Prendre rendez-vous
      </button>
      <button mat-button (click)="openAppointmentDialog()">Prendre rendez-vous</button>


    </div>

  </section>



  <section #detail class="detail-body">

    <div>
      <app-map-doctor></app-map-doctor>
    </div>



    <!--   card of bio and formation   -->

    <div id="biographie" style="margin-top: 17px;" class="container mt-17 ">
      <div class="cardBio">
        <div id="bio_header" class="card-header d-flex align-items-center">
          <i class="fas fa-align-left icon"></i>
          <h5 id="title_biographie" class="mb-0">Biographie</h5>
        </div>
        <div class="card-body">
          <p>Le docteur Damien FOUCAULT vous accueille dans son cabinet au sein du Centre Médical Villaroy à Guyancourt.
            Le médecin générale.</p>
        </div>
      </div>
      <div class="cardFormation">
        <div id="formation_header" class="card-header d-flex align-items-center">
          <i class="fas fa-graduation-cap icon"></i>
          <h5 id="title_formation" class="mb-0">Formation</h5>
        </div>
        <div class="card-body">
          <div class="mb-2">
            <strong>1985</strong> Docteur en Médecine - Spécialisé en Médecine Générale - Faculté de médecine de
            Montpellier
          </div>
          <div>
            <strong>1985</strong> D.U Echographie - Faculté de médecine de Montpellier
          </div>
        </div>
      </div>
    </div>




    <!--   card of Legal information    -->

    <div id="legal" #section class="container">

      <div class="info-box">
        <div class="d-flex align-items-center mb-3">
          <i class="fas fa-info-circle me-2" style="color: #4b739b;"></i>
          <h5>Legal information</h5>
        </div>
        <div class="row">
          <div class="col-md-6 info-item">
            <p class="mb-0"><strong>RPPS number</strong></p>
            <p class="mb-0">10005154710</p>
          </div>
          <div class="col-md-6 info-item">
            <p class="mb-0"><strong>Numéro ADELI</strong></p>
            <p class="mb-0">751939703</p>
          </div>
        </div>
      </div>
    </div>


    <!--   card of Rates    -->

    <div id="rates" class="container">
      <div class="card_Rates">
        <div class="card-Header">
          <h2 class="section-title mb-0">
            <i style="color: #4b739b;" class="fas fa-dollar-sign"></i>
            Rates
          </h2>
        </div>
        <div class="card-body">
          <div class="rate-item">
            <span>Consultation</span>
            <span><strong>25 MAD</strong></span>
          </div>
          <p class="rate-description mt-3 mb-0">
            These fees are provided to you for information purposes by the caregiver. They may vary depending on the
            type of care ultimately provided in the office, the number of consultations and any additional procedures
            required. If the fees are exceeded, the caregiver must notify the patient in advance.
          </p>
        </div>
      </div>
    </div>





  </section>




</section>


<div>
  dhdhd <br>
  dhdhd <br>
  dhdhd <br>
  dhdhd <br>
  dhdhd <br>


</div>
