
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Doctor, Make an Appointment</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<section class="section_global">


  <section class="section1">
    <div>test</div>
    <i class="fa-solid fa-location-dot"></i>
  </section>



  <section class="section2">

  <div class="container">
  <h1>Search Doctor,<br><span>Make an Appointment</span></h1>
  <p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
  <div class="search-container">
    <div class="search-box">
      <i class="fas fa-map-marker-alt"></i>
      <input type="text" placeholder="Search location">
      <div class="search-hint">Based on your Location</div>
    </div>
    <div class="search-box">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Search Doctors, Clinics, Hospitals, Diseases">
      <div class="search-hint">Ex : Dental or Sugar Check up etc</div>
    </div>
  </div>
  <button class="btn-appointment">
    Make Appointment <i class="fas fa-handshake"></i>
  </button>
</div>
  </section>
</section>
