body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.section_global {
  display: flex;
  flex-direction: row;
}

.section1 {
  background-color: #afa3a3;
  width: 45%;
}

.section2 {
  width: 55%;
}

.h2 {
  margin: 0px;
}

#container {
  margin-right: 38px;
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.title-block h2 {
  font-weight: 700;
  font-size: 43px;
  margin-bottom: 25px;
}

.title-block h2:nth-child(2) {
  color: #0071DC;
}

.title-block p {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
}

