


<div class="filter-bakground">
  <app-filter-form class="inut-filter"></app-filter-form>
</div>

<section class="d" *ngIf="!isNotDataFound">
  <section class="section1">
    <div class="resultsNumber">
      {{ ListDoctors.length + " " + "results of your doctor search "}}
    </div>

    <div class="container">
      <div *ngFor="let doctor of paginatedDoctors" class="weekContaine">
        <div class="doctor-inf">
          <div class="profile">
            <div>
              <i class="fa-solid fa-user-doctor" style="color: #117aca; font-size: 30px;"></i>
            </div>
            <div>
              <h3 class="h3">Dr {{doctor.username}}</h3>
            </div>
          </div>
          <p>{{doctor.specialty}}</p>
          <p>{{doctor.clinicAddress }}</p>
          <p>Conventionné secteur 1</p>

          <button *ngIf="hasRole('PATIENT')" class="appointment-btn" (click)="handleAppointmentClick(doctor.id)">
            Book an appointment
          </button>


        </div>

        <button class="buttonWeek1" style="height: 20px;" (click)="previousWeek(doctor.id)">
          <div class="dl-icon-wrapper dl-position-relative">
            <svg width="16" height="16" viewBox="0 0 16 16" class="dl-icon dl-icon-primary-110 dl-icon-small">
              <path
                d="M10.977 3.494c0 .211-.07.399-.211.54l-3.961 3.96 3.96 3.985a.723.723 0 0 1 0 1.054.723.723 0 0 1-1.054 0l-4.5-4.5a.723.723 0 0 1 0-1.054l4.5-4.5a.723.723 0 0 1 1.055 0c.14.14.21.328.21.515Z">
              </path>
            </svg>
          </div>
        </button>

        <div class="days">
          <div *ngFor="let day of doctorCalendars[doctor.id].days" class="dayContain">
            <div class="dday">
              <div class="day-name">{{ day.name }}</div>
              <div class="day-date">{{ day.date | date: 'dd/MM' }}</div>
              <div class="available-times">
                <ng-container *ngIf="getAvailableTimes(doctor.id, day.date).length > 0; else noTimes">
                  <div class="slot" *ngFor="let time of getAvailableTimes(doctor.id, day.date)">
                    {{ time.startTime }}
                  </div>
                </ng-container>
                <ng-template #noTimes>
                  <div class="no-available-times">
                    <div class="availabilities-empty-slot-dash"></div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <button class="buttonWeek2" style="height: 20px;" (click)="nextWeek(doctor.id)">
          <div class="dl-icon-wrapper dl-position-relative">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="currentCor" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" focusable="false" class="dl-icon dl-icon-primary-110 dl-icon-small">
              <path
                d="M5.006 12.518c0-.211.07-.399.21-.54l3.962-3.96-3.961-3.985a.723.723 0 0 1 0-1.054.723.723 0 0 1 1.054 0l4.5 4.5a.723.723 0 0 1 0 1.054l-4.5 4.5a.723.723 0 0 1-1.054 0 .73.73 0 0 1-.211-.515">
              </path>
            </svg>
          </div>
        </button>
      </div>

      <div class="pagination">
        <button class="BtnPrev" (click)="previousPage()" [disabled]="currentPage === 1">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true" focusable="false" class="icon">
            <path
              d="M10.994 3.482a.723.723 0 0 1 0 1.054L7.033 8.496l3.961 3.985a.723.723 0 0 1-1.054 1.054l-4.5-4.5a.723.723 0 0 1 0-1.054l4.5-4.5a.723.723 0 0 1 1.054 0z">
            </path>
          </svg>
          PREVIOUS
        </button>

        <span class="currentPage">Page {{currentPage}} of {{totalPages}}</span>

        <button class="BtnNext" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= totalDoctors">
          NEXT
          <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true" focusable="false" class="icon">
            <path
              d="M5.006 12.518c0-.211.07-.399.21-.54l3.962-3.96-3.961-3.985a.723.723 0 0 1 0-1.054.723.723 0 0 1 1.054 0l4.5 4.5a.723.723 0 0 1 0 1.054l-4.5 4.5a.723.723 0 0 1-1.054 0 .73.73 0 0 1-.211-.515">
            </path>
          </svg>
        </button>
      </div>
    </div>

  </section>

  <section class="section2">
    <div class="map-container">
      <app-map></app-map>
    </div>
  </section>
</section>

<section *ngIf="isNotDataFound" class="dataNotFound">
  <app-not-found></app-not-found>
</section>


<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>Contact Us</h4>
      <p>Address: 123 Health Street, Morocco</p>
      <p>Phone: 06 23 45 67 89</p>
      <p>Email: support@yoursite.com</p>
    </div>
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/appointment">Book an Appointment</a></li>
        <li><a href="/doctors">Our Doctors</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/terms-of-service">Terms of Service</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="footer-section">
      <h4>Subscribe to Our Newsletter</h4>
      <form id="subscribe-form" class="newsletter-form">
        <input type="email" placeholder="Your email" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="footer-section">
      <h4>About Us</h4>
      <p>Our mission is to make healthcare accessible to everyone. Easily and quickly book your appointment with qualified healthcare professionals.</p>
    </div>
  </div>
</footer>
