.appointment-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.doctor-profile {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 300px;
  border-right: 1px solid #e0e0e0;
}

.doctor-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin-right: 20px;
}

.h3 {
  font-size: 17px;
  color: #107aca;
  margin: 10px 0 5px;
}


.appointment-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}



.doctor-inf {
  width: 30%;
  border-right: 1px solid #e0e0e0;
  /* align-content: center; */

  margin-top: 18px;
}

.doctor-inf img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.doctor-inf p {
  margin: 5px 0px 5px 12px;
  font-size: 14px;
  color: #555555;
}

.doctor-inf button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #117aca;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
  width: 208px;
  border-radius: 7px;
  margin-left: 4px;
}

.doctor-inf button:hover {
  background-color: #0170a4;

}


.profile {
  display: flex;
  gap: 12px;
  background-color: rgb(253, 253, 253);
  margin-left: 10px;
  margin-bottom: 19px;
  text-align: center;
}

.fa-user-doctor {
  width: 38px;
  height: 38px;
  justify-content: center;
  align-content: center;
}









/* ////////////////////////  */




.container {
  flex: 1;
  /* Cette ligne garantit que la container prend tout l'espace disponible */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1000px
}

.div2 {
  max-width: 815px;
}


.weekContaine {

  max-width: 815px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-left: 10px;
  margin-top: 15px;
  height: 275px;
  max-height: 275px;
  padding: 6px;
  border: 1.3px solid #8a65df;

}

.weekContaine:hover {
  border: 1.3px solid #8a65df;
  box-shadow: 3px 3px 3px rgba(13, 101, 150, 0.5);
}


.days {
  display: flex;
  /*justify-content: space-between; */
  flex-grow: 1;
  /* background-color:rgb(164, 16, 205);*/
  /*max-width: 500px;  */
  width: 70%;
  overflow-x: auto !important;
  margin-top: 1px;

}



.div1 {

  width: 35%;
  margin-right: 10px;
  background-color: violet;

}

.dday {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 0px 0px;
  border-radius: 5px;
  /* margin: 0px 3px 0px 3px; */
  max-width: 60px;
  max-height: 60px;
  width: 60px;
  height: 30px;
}



.day-name {
  font-size: 14.5px;
  font-weight: 500;
  margin-bottom: 3.5px;

}

.day-date {
  font-size: 12px;
}


.nav-button {
  padding: 5px 10px;
  background-color: #4d72d7;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #3700b3;
}

.buttonWeek1 {
  height: 5px;
  width: 23px;
  margin-top: 28px;
  cursor: pointer;
  background-color: white;
  border: none;
}

.buttonWeek2 {
  height: 5px;
  width: 23px;
  margin-top: 28px;
  cursor: pointer;
  background-color: white;
  border: none;
}

.available-times {

  /* background-color: black ;  */
}

/*slot {
  padding: 10px 15px;
  background-color: #e5f9ff;
  border-radius: 4px;
  margin-bottom: 8px;
  text-align: center;
  cursor: pointer;
}  */
.slot {
  background-color: #e5f9ff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 34px;
  line-height: 34px;
  margin: 7px 0;
  position: relative;
  text-align: center;
  transition: background-color .2s, color .2s;
  width: 57px;
}




.slot:hover {
  background-color: #3fafe2;
}

.dayContain {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px;  */
  /*background-color: navajowhite;   */
  max-width: 76px;

}

.no-available-times {
  background-color: #2b466033;
  border-radius: 1px;
  height: 2px;
  width: 12px;
  margin-top: 22px;
}




.d {
  display: flex;
  flex-direction: row;
  background-color: rgb(248, 248, 248);
}

.section1 {
  width: 66%;
  background-color: rgb(248, 248, 248);
}

.section2 {
  width: 34%;
  max-height: 1308px;
  margin-top: 44px;
  margin-right: 9px;
  margin-left: 9px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: rgb(248, 248, 248);

}

.map-container {
  position: sticky;
  top: 2px;
  z-index: 10;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

/************************************************************/
/* ********************** Data Not Found*********************/
/************************************************************/

.resultsNumber {
  color: #333;
  background-color: rgb(248, 248, 248);
  font-size: 14.5px;
  font-weight: 500;
  margin: 15px 0px 8px 21px;
}



/************************************************************/
/*********************** Pagination   ***********************/
/************************************************************/


.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.BtnPrev,
.BtnNext {
  color: #107aca;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
}


.BtnNext svg {
  margin-right: 8px;
}

.BtnPrev svg {
  margin-left: 8px;
}

.BtnPrev:hover,
.BtnNext:hover {
  color: #0056b3;
}

.BtnPrev[disabled],
.BtnNext[disabled] {
  color: #ccc;
  cursor: not-allowed;
}

.BtnPrev[disabled] svg,
.BtnNext[disabled] svg {
  fill: #ccc;
}


.numberOfPage {
  font-size: 14px;
  color: #666;
  margin: 0 10px;
}

.currentPage {
  font-weight: bold;
  font-size: 15px;
  color: #0056b3;
  margin: 0 10px;
}

.icon {
  fill: #007BFF;
  font-weight: 400;
}










/* /////////////////////////////////////////////////// */


@media (max-width: 1048px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .weekContaine {
    display: flex;
    flex-direction: column;

    height: 525px;
    max-height: 527px;
  }

  .doctor-inf {
    width: 100%;
    margin-bottom: 20px;
  }

  .days {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    overflow-x: auto !important;
  }

  .section1 {
    width: 66%;
  }

  .section2 {
    width: 34%;

  }

  .dday {
    width: 53px;
    height: 100%;
  }

  .day-container {
    width: 68px;
    height: 264px;
  }

}








@media (max-width: 740px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .weekContaine {
    display: flex;
    flex-direction: column;

    height: 525px;
    max-height: 527px;
  }

  .doctor-inf {
    width: 100%;
    margin-bottom: 20px;
  }

  .days {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    overflow-x: auto !important;

  }

  .d {
    display: flex;
    flex-direction: column;

  }

  .section1 {
    width: 100%;
  }

  .section2 {
    width: 100%;
  }

  .dday {

    width: 53px;
    height: 100%;
  }

  .day-container {
    width: 68px;
    height: 264px;
  }




}






/* Pour les très petits écrans (mobile) : plus de flexibilité */
@media (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .weekContaine {
    display: flex;
    flex-direction: column;
  }

  .doctor-inf {
    width: 100%;
    justify-content: center;
  }

  .days {
    width: 100%;
  }
}










/************************************************************/
/*********************** Css of Fotter   ********************/
/************************************************************/


.footer {
  background: linear-gradient(135deg, #107aca, #0056b3);
  color: white;
  padding: 40px 20px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
  padding: 0 15px;
}

.footer h4 {
  font-size: 1.2em;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 10px;
}

.footer h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background-color: #ffcc00;
}

.footer p,
.footer ul li {
  font-size: 0.9em;
  line-height: 1.6;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: #ffcc00;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.social-icons a {
  color: white;
  margin-right: 15px;
  font-size: 1.5em;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 0.9em;
}

.newsletter-form button {
  padding: 10px 15px;
  border: none;
  background-color: #ffcc00;
  color: #107aca;
  font-weight: bold;
  border-radius: 28px 10px 4px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #ffd633;
}

#subscribe-form{
  gap: 10px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 30px;
  }
}




/************************************************************/
/********************* CSS of Nav   *************************/
/************************************************************/
/* Style pour la barre de navigation */



