<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Boxicons CSS -->
  <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

</head>

<body id="body-pd">
  <header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
  </header>
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <!-- Logo Section -->
      <div>
        <a routerLink="" class="nav_logo">
          <i class='bx bx-layer nav_logo-icon'></i>
          <span class="nav_logo-name">Page Home</span>
        </a>

        <!-- Navigation Links -->
        <div class="nav_list">
          <a href="dds" class="nav_link active">
            <i class='bx bx-grid-alt nav_icon'></i>
            <span class="nav_name">Dashboard</span>
          </a>

          <a routerLink="list-appointment" class="nav_link">
            <i class='bx bx-calendar nav_icon'></i>
            <span class="nav_name">Appointment</span>
          </a>


          <a routerLink="creat" class="nav_link">
            <i class='bx bx-time nav_icon'></i>
            <span class="nav_name">Availability</span>
          </a>

          <a href="dds" class="nav_link">
            <i class='bx bx-bookmark nav_icon'></i>
            <span class="nav_name">Bookmark</span>
          </a>

          <a href="sss" class="nav_link">
            <i class='bx bx-folder nav_icon'></i>
            <span class="nav_name">Files</span>
          </a>

          <a href="#" class="nav_link">
            <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
            <span class="nav_name">Stats</span>
          </a>
        </div>
      </div>

      <!-- Sign Out Link -->
      <a href="#" class="nav_link" (click)="loginService.logout()">
        <i class='bx bx-log-out nav_icon'></i>
        <span class="nav_name">Sign Out</span>
      </a>
    </nav>
  </div>

  <!--Container Main start-->


  <section class="section-global">


    <router-outlet></router-outlet>


  </section>

  <!--Container Main end-->
  <script src=></script>
</body>

</html>
