.search-container {
  background-color: #0596de;
  padding: 2rem;
  color: white;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.search-form {
  display: flex;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.input-group {
  flex-grow: 1;

}

mat-form-field {
  width: 100%;
  border: none;
  outline: none;
  background-color: #ffda07;
  height: 100%;
  border-radius: 55px;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

::ng-deep .mat-form-field-flex {
  background-color: white !important;
  padding: 0 0.75em !important;
}

::ng-deep .mat-form-field-outline {
  display: none;
}

.btn-search {
  background-color: #1f2937;
  color: white;
  border: none;
  padding: 0 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-search:hover {
  background-color: #374151;
}
