<div class="search-and-filter">
  <form [formGroup]="searchform" (ngSubmit)="searchDoctor()">
    <mat-form-field appearance="outline">
      <mat-label>Trouver une doctor </mat-label>
      <!-- <input matInput id="specialty" formControlName="specialty" placeholder="rentrer la specialty ici ">
      -->
      <mat-select formControlName="specialty">
        <mat-option *ngFor="let spc of specialite" [value]="spc">{{spc}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Où ?</mat-label>
      <mat-select formControlName="clinicAdress">
        <mat-option *ngFor="let item of keys" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>


    <button mat-flat-button class="btn-search" type="submit">  Search </button>
  </form>



</div>

<div *ngIf="listOfDoctorFiltrer.length > 0">
  <ul>
    <li *ngFor="let doctor of listOfDoctorFiltrer">
      {{ doctor.username}} - {{ doctor.speciality }} - {{ doctor.clinicAddress }}
    </li>
  </ul>
</div>
<div *ngIf="listOfDoctorFiltrer.length === 0">
  Aucun médecin trouvé.
</div>




