body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.section_global {
  display: flex;
  flex-direction: row;
}

.section1 {
  width: 45%;
}

.section2 {
  width: 55%;
}

.h2 {
  margin: 0px;
}

#container {
  margin-right: 38px;
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.title-block h2 {
  font-weight: 700;
  font-size: 43px;
  margin-bottom: 25px;
}

.title-block h2:nth-child(2) {
  color: #0071DC;
}

.title-block p {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
}


/*////////////////////*/


h2 {
  font-weight: bold;
  color: #1d3557;
  margin-bottom: 50px;
}

h4 {
  color:#1d3557;
}

p {
  color: #6c757d;
  /* Gray */
  font-size: 16px;
}

img {
  display: block;
  margin: 0 auto;
}
#img2{
  margin-bottom: 13px;
}


/************************************************************/
/********************* CSS of Nav   *************************/
/************************************************************/

.custom-nav {
  background-color: #117aca !important;
}


.logo-text {
  font-style: italic;
  font-size: 24px;
}

.navbar .btn {
  margin-right: 20px;
}

.navbar-nav .nav-item .nav-link {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .nav-link i {
  margin-right: 5px;
}

.navbar-nav .nav-item .btn {
  padding: 5px 15px;
  font-weight: 500;
}
